.tab-bar {
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 15px;
  background: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--bg-color3);
  font-weight: 700;
  line-height: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  top: 65%;

}

.input-border {
  /* border: none !important; */
}


.transparent-box {
  background: transparent;
  margin: 0px !important;
}

.img-size {
  width: 35px;
  height: auto;
}
