<ion-card class="tab-bar">
  <form [formGroup]="barCodeForm">
    <ion-input class="input-border" formControlName="code" placeholder="Saisir le code barre"></ion-input>
  </form>
  <div>
    <img class="img-size" src="../../../assets/keyboard.png" alt="">
  </div>
</ion-card>
