.img-size{
    width: 130px;
    height: auto;
}

.flex-align-col{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.flex-align-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-button{
    padding-right:1.3em ;
    height: 25px;
    margin: none !important;
    border-radius: 30px;
    padding-left: 1.3em;
    background-color: #F2D7D7;
    font-weight: 700;
    color: black;
    display:flex ;
    align-items: center;
    justify-content: space-around;
    box-shadow: none;
}
.txt-size{
  font-size: 9px;  
}
ion-searchbar{
    --background: #F3DCC7;
    padding-top: 0px; 
    padding-bottom: 0px; 
    --border-radius: 30px;
    --placeholder-font-weight: 700;
    --placeholder-color:black;
}
.img-size2{
    width: 20px;
    padding-right: 5px;
}