<ion-header >
  <ion-toolbar class="header-box">
    <div class="flex-align-col">
      <img class="img-size" src="assets/Mackup.png" alt="">
      <span class="txt-size">Bienvenue sur votre application,<b>{{user?.name}}</b></span>
    </div>
    <ion-searchbar autocorrect="on" animated placeholder="Search" mode="ios"></ion-searchbar>
    <div class="flex-align-row">
      <ion-card (click)="changeViewServices()" class="card-button"><img class="img-size2" src="../../../assets/support.png" alt=""> Services</ion-card>
      <ion-card (click)="changeViewExtention()" class="card-button"><img class="img-size2" src="../../../assets/women.png" alt="">Extention</ion-card>
      <ion-card (click)="changeViewProduct()" class="card-button"><img class="img-size2" src="../../../assets/add-product.png" alt="">Produits</ion-card>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- view SERVICES -->
  <div *ngIf="services" class="flex-align-row custum-class">
    <div class="animate__animated animate__fadeInRight " *ngFor="let pro of pros">
      <div class="flex-align-col">
        <img class="img-size3"  src="../../../assets/Model1.png" alt="">
        <span class="txt-img-size">{{pro.name}}</span>
        <span class="txt-img-size">{{pro.statut}}</span>
      </div>
    </div>
  </div>
  <!-- view EXTENTION -->
  <div *ngIf="extention"  class="flex-align-row custum-class">
    <div class="animate__animated animate__fadeInRight " *ngFor="let pro of pros">
      <div  class="flex-align-col">
        <img class="img-size3"  src="../../../assets/Model 3.png" alt="">
        <span class="txt-img-size">{{pro.name}}</span>
        <span class="txt-img-size">{{pro.statut}}</span>
      </div>
    </div>
  </div>
   <!-- view PRODUCT -->
  <div *ngIf="product" class="flex-align-row custum-class">
    <div class="animate__animated animate__fadeInRight" *ngFor="let pro of pros">
      <div class="flex-align-col">
        <img class="img-size3"  src="../../../assets/Model 4.png" alt="">
        <span class="txt-img-size">{{pro.name}}</span>
        <span class="txt-img-size">{{pro.statut}}</span>
      </div>
    </div>
  </div>

</ion-content>
<app-footer></app-footer>