<ion-content>
  <img src="../../../assets/Model 4.png" class="banner-profil" alt="" />
  <div class="container-box">
    <img class="animate__animated animate__fadeInRight" class="img-size5" src="../../../assets/Mackup.png" alt="">
  </div>
  <ion-card class="container-card">
    <div class="container-box2">
      <span class="span-margin">Nom : <b> Tereza{{pro?.name}}</b></span>
      <span class="span-margin">Ville : <b>Casablanca{{pro?.state}}</b></span>
      <span class="span-margin">Statut : <b>Indé{{pro?.status}}</b></span>
    </div>
    <div></div>
  </ion-card>
  <h3 class="title-page">Services</h3>
  <p class="description-zone">{{pro?.description}}</p>
  <h3 class="title-page">Images</h3>
  <div *ngIf="services" class="flex-align-row custum-class">
    <div class="animate__animated animate__slideInDown " *ngFor="let pro of pros">
      <div class="flex-align-col">
        <img class="img-size3" src="assets/Model1.png" alt="">
        <span class="txt-img-size">{{pro?.name}}</span>
        <span class="txt-img-size">{{pro?.statut}}</span>
      </div>
    </div>
  </div>

</ion-content>
<app-footer></app-footer>

