.header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.header .title {
  font-size: 18px;
  color: #231F20;
  font-weight: 700;
}

.header .profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}

.header .small-logo {
  width: 25px;
  vertical-align: middle;
  display: inline-block;
}

.header .name {
  position: relative;
  top: 3px;
  margin-left: 8px;
}

.header .notification-btn {
  font-size: 20px;
  color: #231F20 !important;
  position: relative;
  top: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;

}

.header .notification-btn:hover {
  color: #F79E1B !important;
}