@font-face {
  font-family: Nunito;
  src: url(../../src/assets/Font/Nunito-VariableFont_wght.ttf);
}

* {
  font-family: Nunito;
}

.img-size3 {
  width: 8.3rem;
  height: 10.4rem;
  border-radius: 20px;
  margin-top: 20px;
  object-fit: cover;
}

.txt-img-size {
  font-size: 12px;
}

.custum-class {
  flex-wrap: wrap;
}

.banner-profil {
  width: 100%;
  height: 28%;
  border-radius: 0px 0px 30px 30Px;
  object-fit: cover;
}

.container-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-card {
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.img-size5 {
  width: 6rem;
  height: auto;
}

.container-box2 {
  display: flex;
  flex-direction: column;
}

.span-margin {
  margin-top: 5px !important;
  margin-left: 20px !important;
  margin-bottom: 5px !important;
  color: black;
}

.title-page {
  margin-left: 20px;
  font-weight: 900;
}

.description-zone {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
}

.img-size {
  width: 130px;
  height: auto;
}

.flex-align-col {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.flex-align-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-button {
  padding-right: 1.3em;
  height: 25px;
  margin: none !important;
  border-radius: 30px;
  padding-left: 1.3em;
  background-color: #F2D7D7;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: none;
}

.txt-size {
  font-size: 9px;
}

ion-searchbar {
  --background: #F3DCC7;
  padding-top: 0px;
  padding-bottom: 0px;
  --border-radius: 30px;
  --placeholder-font-weight: 700;
  --placeholder-color: black;
}

.img-size2 {
  width: 20px;
  padding-right: 5px;
}
