<div class="footer">
  <ul>
    <li (click)="dashboardPage()">
      <a class="icon">
        <img src="../../../assets/images/dog-house.png" class="w-100 normal" alt="" />
      </a>
      <span [ngClass]="url==='/dashboard' ? 'visible' : 'invisible'" ><img class="img-size" src="../../../assets/images/circle.svg" alt=""></span>
    </li>
    <li (click)="sellPage()" >
      <a class="icon" >
        <img src="../../../assets/images/bag.png" class="w-100 normal" alt="" />
      </a>
      <span [ngClass]="url==='/product' ? 'visible' : 'invisible'" ><img class="img-size" src="../../../assets/images/circle.svg" alt=""></span>
    </li>
    <li (click)="msgPage()">
      <a class="icon" >
        <img src="../../../assets/images/chat.png" class="w-100 normal" alt="" />
      </a>
      <span [ngClass]="url==='/profil' ? 'visible' : 'invisible'" ><img class="img-size" src="../../../assets/images/circle.svg" alt=""></span>
    </li>
  </ul>
</div>
