.footer {
  position: fixed;
  bottom: 2.2%;
  left: 4%;
  right: 4%;
  border-radius: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  z-index: 999;
  /*blur effect*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--bg_color-transparent);
}
.img-size{
  width: 6px;
}
.visible{
  opacity: 1;
}
.invisible{
  opacity: 0;
}

.footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.footer ul li {
  display: inline-block;
  width: 33.33%;
  text-align: center;
  position: relative;
}


.footer ul li .icon {
  width: 19px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: block;
  position: relative;
  color: var(--primary) !important;
}

.footer ul li .icon.active .hover,
.footer ul li .icon:hover .hover {
  opacity: 1;
}

.footer ul li .icon.active .normal,
.footer ul li .icon:hover .normal {
  opacity: 0;
}

.footer ul li .icon .hover {
  opacity: 0;
}

.footer ul li .icon img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.text-menu-active {
  font-size: 11px;
  color: var(--primary);
  font-weight: bold;
}

.text-menu-normal {
  font-size: 11px;
  color: var(--primary);
  opacity: 0.50;
}